.table-view {
    -fx-background-color: rgba(211,211,211,0.2);
    -fx-background-radius: 9px;

    -fx-border-radius: 9px;
}

.table-view .column-header-background .filler {
    -fx-background-color: transparent;
}

.table-view .corner {
    -fx-background-color: transparent;
}


.table-view .column-header-background{
    -fx-background-color:  #ADDFFF;
    -fx-background-radius: 7px 7px 0px 0px;
    -fx-padding: 0 0 5px 0;
}

.table-view .column-header {
    -fx-background-color: transparent;
}

.table-view .table-cell{
    -fx-alignment: CENTER;
    -fx-border-color: transparent;
    -fx-padding: 2 0 2 10px;
}
.table-row-cell {
    -fx-font-size: 12px;
}
.table-row-cell:hover {
    -fx-border-color: #00c9b7;
    -fx-font-size: 14px;
}
.table-row-cell:selected {
    -fx-background-color: rgba(0, 201, 183, 0.27);
    -fx-text-fill: rgba(213, 0, 25, 0.62);
}

.table-view .virtual-flow .scroll-bar:vertical,
.table-view .virtual-flow .scroll-bar:vertical .track-background,
.table-view .virtual-flow .scroll-bar:horizontal,
.table-view .virtual-flow .scroll-bar:horizontal .track,
.table-view .virtual-flow .scroll-bar:horizontal .track-background {
    -fx-background-color: transparent;
}

.table-view .virtual-flow .scroll-bar .increment-button,
.table-view .virtual-flow .scroll-bar .decrement-button {
    -fx-opacity: 0;
    -fx-padding: 2;
}

.table-view .virtual-flow .scroll-bar:vertical .thumb{
    -fx-background-color:  white;
}
.table-view .virtual-flow .scroll-bar:horizontal .thumb {
    -fx-background-color:  white;
}